<%- include("../partials/header.ejs")%>
<nav>
    <div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </nav>

<div id="dashboard-index">
    <div id="dashboard-content">
        <section id="dash-index-header">
            <h1>Welcome back, <%=user.name%></h1>
        </section>
        <section id="dash-card-section">
            <!-- list all of user's dashboard(s) -->
            <h3>Your Dashboards:</h3>
            <div id="dashboard-card-collection">
            <% if (dashboards.length !== 0) { %>
                    <%dashboards.forEach(dashboard=>{%>
                        <div class="dashboard-card">
                        <a href="/dashboards/<%=dashboard.id%>"><%=dashboard.title%></a>
                        </div>
                    <%})%>
            <%} else {%>
                <p>Create a new dashboad to begin</p>
            <%}%>
            </div>

        </section>
        <section id="create-dash-section">
            <button id="create-dash-btn"> Create a new dashboard</button>
            <section id="dashboard-creation" class="hide-form">
                <form action="/dashboards" method="POST" autocomplete="off">
                    <label for="name">Dashboard title: </label>
                    <br>
                    <input type="text" name="title" regular pattern = "[a-zA-Z0-9 ]{1,15}" required>
                    <label>1 word, max. 15 alphanumeric characters. Spaces allowed. </label>
                    <br>
                    <br>
                    <button type="submit"> done </button>
                </form>
                <button id="form-cancel-button"> cancel</button>
                </section>
                <script src="/javascripts/main.js"></script>

        </section>
    </div>
</div>
<%- include("../partials/footer.ejs")%>