<%- include("../partials/header.ejs")%>

    <h1>Welcome Back, <%=user.name%></h1>
    <a href="/dashboards/logout">Log Out </a>
<!-- list all of user's dashboard(s) -->
    <% if (dashboards.length !== 0) { %>
        <h2>Your Dashboards:</h2>
        <%dashboards.forEach(dashboard=>{%>
            <a href="/dashboards/<%=dashboard.id%>"><%=dashboard.title%></a>
            <br>
        <%})%>

<!-- user has no dashboards, prompt user to create a new dashboard -->
    <%} %>
    <button id="create-dash-btn"> Create a new dashboard</button>
    <br>
    <section id="dashboard-creation" class="hide-form">
        <form action="/dashboards" method="POST">
            <label for="name">Dashboard title:</label>
            <br>
            <input type="text" name="title">
            <br>
            <button type="submit"> Done </button>
        </form>
    </section>
    <script src="/javascripts/main.js"></script>
<%- include("../partials/footer.ejs")%>