<%- include("../partials/header.ejs")%>
<nav>
  <div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/dashboards">DASHBOARDS</a></li>
      <li><a href="/logout">LOGOUT</a></li>
    </ul>
  </div>
</nav>

<div id="dashboard-show-page">
  <div id="dashboard-show-header">
    <h1><%= dashboard.title %> </h1> 
    <button id="settings-dash">settings</button>
  </div>
  
  <!-- overlay for editing dashboard -->
  <div class="form-overlay" style="display:none" >
    <div>
        <table id="dash-show-settings">
          <form action="/dashboards/<%=dashboard.id%>?_method=PUT" method="POST" autocomplete="off">
          <tr>
            <td>
              <label>Edit Dashboard Name:</label>
              <input type="text" name="title" value="<%=dashboard.title%>" regular pattern = "[a-zA-Z0-9 ]{1,20}" required>
              <p> Please ensure name contains 1-20 alphanumeric characters. Spaces and _ allowed.</p>
            </td>
            <td><button type="submit">Edit</button></td>
          </tr>
        </form>
        <form action="/dashboards/<%=dashboard.id%>?_method=DELETE" method="POST" autocomplete="off">
          <tr>
            <td><label>I want to delete this dashboard:</label></td>
            <td><button type="submit">Delete</button></td>
          </tr>
        </form>
        <tr>
          <td></td>

          <td><br>
            <button id="cancel-dash-edit">Cancel</button>
          </td>
          
        </tr>
        </table>
    </div>

  </div>

  <!-- this will be a chart showing all the cool data -->

  <div id="dash-chart-container">
    <canvas id="dash-chart"></canvas>
  </div>

  <!-- populating data for chart -->
  <% let xAxis = [] %>
  <% dashboard.categories.forEach( category=>{ %>
    <% xAxis.push(category.name)%>
  <%}) %>
  <div id="x-axis" style="display: none"><%=xAxis.join(",")%></div>
  <div id="current-data" style="display: none"><%=currentMonth.join(",")%></div>
  <div id="prev-data" style="display: none"><%=prevMonth.join(",")%></div>

  <!-- TABLE HEADER -->
  <div id="dashboard-show-table">
    <table>
      <thead>
        <td></td>
      <td>
      <div class="data-head">
        <p>Categories <a id="add-cat-btn"  class="curr-add-btn btn-floating btn-small waves-light" >+</a></p>
      </div>
    </td>
    <td>
      <div class="data-head">
        <p>% change</p>
      </div>
    </td>
    <td>
      <div class="data-head">
        <p>Prev. Month</p>
      </div>
    </td>
    <td>
      <div class="data-head">
        <p>Current Month</p>
      </div>
    </td>
    <td>
      <div >

      </div>
    </td>
    </thead>
    <!-- MAIN TABLE -->
    <tr>
      <td class="form-row" > 
        <div id="cat-form" style="display:none" >
          <form action="/dashboards/<%=dashboard.id%>/categories" method="POST" style="width: 150px" autocomplete="off">
            <label for="name">Add New Category:</label>
            <input type="text" name="name" style="margin-bottom:20px" regular pattern = "[a-zA-Z0-9 ]{1,20}" required>
            <button type="submit">ok</button>   
          </form>
          <button class="cancel-form cat-btn" >x</button>
        </div>
      </td>
      <td>
        <div class="data-col-cat">
          <div id="cat-list">
            <% for (let category of dashboard.categories ){ %>
            <a href="/dashboards/<%=dashboard.id%>/categories/<%=category.id%>"><%=category.name%></a>
            <%}%>
          </div>
        </div>
      </td>
      <td>
        <div id="percent-change" class="data-money">
          <div>
            <% for (let categoryPer of change ){ %>
              <% if (categoryPer >0){%>
                <p style="color:var(--bad-numbers)"><strong><%=categoryPer%></strong></p>
              <%} else{%>
                <p><%=categoryPer%></p>
              <%}%>
            <%}%>
          </div>
          </div>
      </td>
      <td>
        <div id="prev-month-list" class="data-money">
          <div>
            <% for (let categoryTotal of prevMonth ){ %>
            <p>$ <%=categoryTotal%></p>
            <%}%>
          </div>
        </div>
      </td>
      <td>
        <div id="current-month-list-cat" class="data-money-plus">
          <div>
            <% for (let i=0; i<currentMonth.length; i++){ %>
              <% let categoryName = dashboard.categories[i].name %>
              <p>$<%=currentMonth[i]%> <a class="curr-add-btn btn-floating btn-small waves-light" id="<%=categoryName%>" >+</a></p>
            <%}%>
          </div>
        </div>

      </td>
      <td style="width: 200px" >
        <%let date = new Date()%>
        <%let today = new Date(date.getFullYear(), date.getMonth(), date.getDate())%>
        <div id="entry-form-categories" style="display:none" class="entry-forms">
          <form action="/dashboards/<%=dashboard.id%>/entries" method="POST" style="width: 180px" autocomplete="off" >
            <section>
              <label for="category">*Category:</label>
              <label for="company">Company:</label>
              <label for="date">Date:</label>
              <label for="cost">Amount:</label>
              <label for="comment">Comments:</label>
            </section>
            <Section>
              <input type="text" name="category" required>
              <input type="text" name="company" regular pattern = "[a-zA-Z0-9 ]{1,20}">
              <input type="date" name="date" value="<%=today.toISOString().slice(0,10)%>" required max="<%=today.toISOString().slice(0,10)%>">
              <input type="number" name="cost" required min="0">
              <input type="text" name="comment">
              <button type="submit">done</button>               
            </Section>  
          </form>
          <section>
            <button class="cancel-form">x</button>
            <label>*Do not change category name</label>
          </section>
        </div>
        <div id="entry-form-income" style="display:none" class="entry-forms">
          <form action="/dashboards/<%=dashboard.id%>/entries" method="POST" autocomplete="off">
            <section>
              <label for="category">Income*:</label>
              <label for="company">Company:</label>
              <label for="date">Date:</label>
              <label for="cost">Amount:</label>
              <label for="comment">Comments:</label>
            </section>
            <section>
              <input type="text" name="incomeType" required>
              <input type="text" name="company" regular pattern = "[a-zA-Z0-9 ]{1,20}">
              <input type="date" name="date" value="<%=today.toISOString().slice(0,10)%>" max="<%=today.toISOString().slice(0,10)%>">
              <input type="number" name="income" required min="0">
              <input type="text" name="comment">
              <button type="submit">done</button>
            </section>
            </form>
            <section>
            <button class="cancel-form">x</button>
            <label>*Do not change income source</label>
            </section>
        </div> 
      </td>
    </tr>
    <tr>
      <td class="form-row">
        <div id="income-form" style="display: none">
          <form action="/dashboards/<%=dashboard.id%>/incomes" method="POST" style="width: 150px" autocomplete="off">
            <label for="incomeType">Add New Income Source:</label>
            <input type="text" name="incomeType" style="margin-bottom:20px" required regular pattern = "[a-zA-Z0-9 ]{1,20}">
            <button type="submit">ok</button>
              
          </form>
          <button class="cancel-form income-btn" style="display:none">x</button>
      
        </div>
      </td>
   
      
      <td>
        <div class="data-col-cat">
          <div id="income-list" >
            <% for (let income of dashboard.incomes){ %>
              <a href="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>"><%=income.incomeType%></a>
            <%}%>
          </div>
        </div>
      </td>
      <td>
        <div id="percent-change" class="data-money">
          <div>
            <% for (let incomePer of changeIncome){ %>
              <% if (incomePer <0){%>
                <p style="color: var(--bad-numbers)"><strong><%=incomePer%></strong></p>
              <%} else{%>
                <p><%=incomePer%></p>
              <%}%>

              
            <%}%>
          </div>
        </div>
      </td>
      <td>
        <div id="prev-month-list" class="data-money">
          <div>
            <% for (let incomeTotal of prevMonthIncome ){ %>
              <p>$<%=incomeTotal%></p>
            <%}%>
          </div>
        </div>

      </td>
      <td>
        <div id="curr-month-list-income"class="data-money-plus">
          <div>
            <% for (let i=0; i<currentMonthIncome.length; i++){ %>
              <% let incomeName = dashboard.incomes[i].incomeType %>
                <p>$<%=currentMonthIncome[i]%> <a class="curr-add-btn btn-floating btn-small waves-light" id="<%=incomeName%>" >+</a></p>
              <%}%>
          </div>
        </div>
      </td>
      <td>
        <div id="entry-history" style="width: 180px">
          <% for (let category in recentEntries){%>
            <div id="history-<%=category.split(" ")[0]%>" style="display: none" >
              <h4>Previous Entries:<h4>
                <ul>
                <% if (recentEntries[category].length <5){%>
                  <%for (let record of recentEntries[category]){%>
                    <li><p><%=record%></p></li>
                  <%}%>
                <%} else {%>
                  <%for (let i=0; i<5;i++){%>
                    <li><p><%=recentEntries[category][i]%></p></li>
                  <%}%>
                <%}%>
                </ul>
            </div>
          <%}%>
        </div>
      </td>
    </tr>
    <!-- TABLE SUMMARY  -->
    <tr>
      <td></td>
      <td>
        <div class="data-footer">
          <p>Income Source<a id="add-income-btn" class="curr-add-btn btn-floating btn-small waves-light">+</a></p>
        </div>
      </td>
      <td>
        <div class="data-footer">
          <div>
            <p>Expense Total:</p>
            <p>Income Total:</p>
            <p>Net Savings:</p>
          </div>
        </div>
      </td>
      <td>
        <div class="data-footer">
          <div>
            <p>$<%=prevMonthSummary[0]%></p>
            <p>$<%=prevMonthSummary[1]%></p>
            <% if (prevMonthSummary[2] <0){%>
              <p style="color:var(--bad-numbers)">$<%=prevMonthSummary[2]%></p>
            <%} else{%>
              <p>$<%=prevMonthSummary[2]%></p>
            <%}%>
          </div>
        </div>
      </td>
      <td>
        <div class="data-footer">
          <div>
            <p>$<%=currentMonthSummary[0]%></p>
            <p>$<%=currentMonthSummary[1]%></p>
            <% if (currentMonthSummary[2] <0){%>
              <p style="color:var(--bad-numbers)">$<%=currentMonthSummary[2]%></p>
            <%} else{%>
              <p>$<%=currentMonthSummary[2]%></p>
            <%}%>
          </div>
        </div>
      </td>
      <td></td>
    </tr>
    </table>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/javascripts/dashboard.js"></script>

<%- include("../partials/footer.ejs")%>
