<%- include("../partials/header.ejs")%>
    <div class="show-header">
        <h1> Historical entries for <%=category.name%> category:</h1>
        <button id="settings-category">settings</button>
    </div>
    <!-- overlay for editing categories -->
    <div class="form-overlay" style="display:none" >
        <form action="/dashboards/<%=dashboard.id%>/categories/<%=category.id%>?_method=PUT" method="POST">
            <label>Edit Category Name:</label>
            <input type="text" name="name" value=<%=category.name%>>
            <button type="submit">Edit</button>
        </form>
        <form action="/dashboards/<%=dashboard.id%>/categories/<%=category.id%>?_method=DELETE" method="POST">
            <button type="submit">delete category</button>
        </form>
        <button id="cancel-dash-edit">cancel</button>
    </div>

    <div class="show-entries">
        <table id="show-table">
            <thead>
                <td>Date</td>
                <td>Company</td>
                <td>Cost</td>
                <td>Person</td>
                <td>Comments</td>
            </thead>
            <%results.forEach(entry=>{%>
                <tr>
                    <td><p><%=entry.date.toISOString().slice(0,10)%></p></td>
                    <td><p><%=entry.company%></p></td>
                    <td><p>$<%=entry.cost.toFixed(2)%></p></td>
                    <td><p><%=entry.person%></p></td>
                    <td><p><%=entry.comment%></p></td>
                    <td>
                        edit
                    </td>
                    <td>
                        <form action="/entries/<%=entry.id%>/categories/<%=category.id%>?_method=DELETE" method="POST">
                            <button type="submit">delete</button>
                        </form>
                    </td>
                </tr>
                
            <%})%>
        </table>
        <div id="entry-edit-form">

        </div>
    </div>
    

    <script src="/javascripts/category.js"></script
<%- include("../partials/footer.ejs")%>