<%- include("../partials/header.ejs")%>
<nav>
  <div>
    <a class="brand-logo" href="/dashboards/<%=dashboard.id%>"> <- go back to <%=dashboard.title%></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/dashboards">DASHBOARD COLLECTION</a></li>
      <li><a href="/logout">LOGOUT</a></li>
    </ul>
  </div>
</nav>
<div class="entry-show-page">
  <div class="show-header">
    <h1> Entries for <%=income.incomeType%>:</h1>
    <button id="settings-income">settings</button>

  </div>
  <!-- overlay for editing income -->
  <div id="income-settings-form" class="form-overlay" style="display:none" >
    <div>
      <table>
        <form action="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>?_method=PUT" method="POST" autocomplete="off">
          <tr>
            <td>
              <label>Edit Income Name:</label>
              <input type="text" name="incomeType" value=<%=income.incomeType%> regular pattern = "[a-zA-Z0-9 ]{1,20}" required>
              <p>Please ensure new name includes 1-20 alphanumeric characters, including spaces and _</p>
            </td>
            <td>
              <button type="submit">Edit</button>
            </td>
          </tr>
        </form>
        <form action="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
          <tr>
            <td>
              <label> I want to delete this category:</label>
            </td>
            <td>
              <button type="submit">delete income</button>
            </td>
          </tr>
        </form>
        <tr>
          <td></td>
          <td>
            <button class="cancel-edit">cancel</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="show-entries">
  <table class="show-table">
      <thead>
          <td>Date</td>
          <td>Company</td>
          <td>Amount</td>
          <td>Comments</td>
      </thead>
      <%results.forEach(entry=>{%>
          <tr>
              <td><p><%=entry.date.toISOString().slice(0,10)%></p></td>
              <td><p><%=entry.company%></p></td>
              <td><p>$<%=entry.income.toFixed(2)%></p></td>
              <td><p><%=entry.comment%></p></td>
              <td>
                  <form action="/entries/<%=entry.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
                      <button type="submit">delete</button>
                  </form>
              </td>
              <td style="width: 200px">
                  <a class="edit-btn" id=<%=entry.id%>>edit</a>
                  <div id="form-<%=entry.id%>" style="display:none" class="show-edit-form">
                      <form action="/entries/<%=entry.id%>/incomes/<%=income.id%>?_method=PUT" method="POST" autocomplete="off">
                        
                        <label for="company">Company:</label>
                        <input type="text" name="company" value=<%=entry.company%> regular pattern = "[a-zA-Z0-9 ]{1,20}">
                              
                        <label for="date">Date:</label>
                        <input type="date" name="date" value=<%=entry.date.toISOString().slice(0,10)%> required>
                             
                        <label for="cost">Amount:</label>
                        <input type="number" name="income" value=<%=parseInt(entry.income)%> min="0" required>
                             
                        <label for="comment">Comments:</label>
                        <input type="text" name="comment" value=<%=entry.comment%>>
                        <button type="submit">done</button>
                      </form>
                      <button class="cancel-edit">x</button>
                  </div>
                  
              </td>
          </tr>  
      <%})%>
  </table>
</div>
</div>
<script src="/javascripts/income.js"></script>
<%- include("../partials/footer.ejs")%>