<%- include("../partials/header.ejs")%>
<h1> Historical entries for <%=income.incomeType%>:</h1>
<form action="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
    <button type="submit">delete income</button>
</form>

<table id="show-table">
    <thead>
        <td>Date</td>
        <td>Company</td>
        <td>Amount</td>
        <td>Person</td>
        <td>Comments</td>
    </thead>
    <%results.forEach(entry=>{%>
        <tr>
            <td><p><%=entry.date.toISOString().slice(0,10)%></p></td>
            <td><p><%=entry.company%></p></td>
            <td><p>$<%=entry.income.toFixed(2)%></p></td>
            <td><p><%=entry.person%></p></td>
            <td><p><%=entry.comment%></p></td>
            <td><a>edit</a></td>
            <td>
                <form action="/entries/<%=entry.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        
    <%})%>

</table>
<%- include("../partials/footer.ejs")%>