<%- include("../partials/header.ejs")%>
<div class="show-header">
<h1> Historical entries for <%=income.incomeType%>:</h1>
<button id="settings-income">settings</button>

</div>
<!-- overlay for editing income -->
<div class="form-overlay" style="display:none" >
    <form action="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>?_method=PUT" method="POST">
        <label>Edit Income Name:</label>
        <input type="text" name="incomeType" value=<%=income.incomeType%>>
        <button type="submit">Edit</button>
    </form>
    <form action="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
        <button type="submit">delete income</button>
    </form>
    <button class="cancel-edit">cancel</button>
</div>


<table id="show-table">
    <thead>
        <td>Date</td>
        <td>Company</td>
        <td>Amount</td>
        <td>Person</td>
        <td>Comments</td>
    </thead>
    <%results.forEach(entry=>{%>
        <tr>
            <td><p><%=entry.date.toISOString().slice(0,10)%></p></td>
            <td><p><%=entry.company%></p></td>
            <td><p>$<%=entry.income.toFixed(2)%></p></td>
            <td><p><%=entry.person%></p></td>
            <td><p><%=entry.comment%></p></td>
            <td>
                <form action="/entries/<%=entry.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
                    <button type="submit">delete</button>
                </form>
            </td>
            <td>
                <a id=<%=entry.id%>>edit</a>
                <div id="form-<%=entry.id%>" style="display:none" >
                    <form action="/entries/<%=entry.id%>/incomes/<%=income.id%>?_method=PUT" method="POST">
                        <table>
                            <tr>
                              <td><label for="company">Company:</label></td>
                              <td><input type="text" name="company" value=<%=entry.company%>></td>
                            </tr>
                            <tr>
                              <td><label for="date">Date:</label></td>
                              <td><input type="date" name="date" value=<%=entry.date.toISOString().slice(0,10)%>></td>
                            </tr>
                            <tr>
                              <td><label for="cost" required>Amount:</label></td>
                              <td><input type="text" name="income" value=<%=parseInt(entry.income)%>></td>
                            </tr>
                            <tr>
                              <td><label for="comment">Comments:</label></td>
                              <td> <input type="text" name="comment" value=<%=entry.comment%>></td>
                            </tr>
                            <tr>
                              <td><label for="person">Member:</label></td>
                              <td><input type="text" name="person" value="<%=entry.person%>"></td>
                            </tr>
                            <tr>
                              <td><button type="submit">done</button></td>
                  
                            </tr>
                  
                          </table>
                     
                    </form>
                    <button class="cancel-edit">cancel</button>
                </div>
            
            </td>

        </tr>
        
    <%})%>

</table>
<script src="/javascripts/income.js"></script>
<%- include("../partials/footer.ejs")%>