<%- include("../partials/header.ejs")%>
<div class="show-header">
<h1> Historical entries for <%=income.incomeType%>:</h1>
<button id="settings-income">settings</button>

</div>
<!-- overlay for editing income -->
<div class="form-overlay" style="display:none" >
    <form action="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>?_method=PUT" method="POST">
        <label>Edit Income Name:</label>
        <input type="text" name="incomeType" value=<%=income.incomeType%>>
        <button type="submit">Edit</button>
    </form>
    <form action="/dashboards/<%=dashboard.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
        <button type="submit">delete income</button>
    </form>
    <button id="cancel-edit">cancel</button>
</div>


<table id="show-table">
    <thead>
        <td>Date</td>
        <td>Company</td>
        <td>Amount</td>
        <td>Person</td>
        <td>Comments</td>
    </thead>
    <%results.forEach(entry=>{%>
        <tr>
            <td><p><%=entry.date.toISOString().slice(0,10)%></p></td>
            <td><p><%=entry.company%></p></td>
            <td><p>$<%=entry.income.toFixed(2)%></p></td>
            <td><p><%=entry.person%></p></td>
            <td><p><%=entry.comment%></p></td>
            <td><a>edit</a></td>
            <td>
                <form action="/entries/<%=entry.id%>/incomes/<%=income.id%>?_method=DELETE" method="POST">
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        
    <%})%>

</table>
<script src="/javascripts/income.js"></script>
<%- include("../partials/footer.ejs")%>